@media only screen and (max-width:425px) {
    .banner-content p{
        padding: 0  !important;
    }
    .card-header i {
        margin-bottom: 12px;
    }
    ul.navbar-nav {
        text-align: center;
    }
}
@media only screen and (max-width:320px) {
    .banner-content p {
         padding: 1px;
     }
     .banner-content h1 {
       padding-top: 10px;
        
    }
}